html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-container {
  width: 600px;
  display: flex;
  height: 600px;
  margin: 0 auto;
  flex-direction: column;
  border: 1px solid rebeccapurple;
}

.outer-container {
  flex: 1;
  display: flex;
  border: 1px solid whitesmoke;
  background-color: black;
}

.inner-container {
  flex: 1;
  border: 1px solid whitesmoke;
  background-color: white;
}

.button-container {
  text-align: center;
  margin: 40px;
}
